---
import Navigation from './Navigation.astro';
---

{/*
<header>
  <nav>
    <Navigation link="/" name="ホーム" />
    <Navigation link="/about/" name="概要" />
    <Navigation link="/blog/" name="ブログ" />
  </nav>
</header>
*/}

<header>
  <nav>
    <Navigation />
  </nav>
</header>

